<footer class="footer">
  <div class="footer-content">
    <div class="footer-section about">
      <h2>ACQUALAND</h2>
      <p>Your adventure starts here!</p>
    </div>
    <div class="footer-section links">
      <h2>Quick Links</h2>
      <ul>
        <li><a routerLink="/user">User</a></li>
        <li><a routerLink="/map">Mappa</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
    <div class="footer-section social">
      <h2>Follow Us</h2>
      <div class="social-links">
        <a href="https://www.facebook.com/?locale=it_IT"><fa-icon [icon]="faFacebookF"></fa-icon></a>
        <a href="https://x.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJteCI6IjIifQ%3D%3D%22%7D"><fa-icon [icon]="faTwitter"></fa-icon></a>
        <a href="https://www.instagram.com/"><fa-icon [icon]="faInstagram"></fa-icon></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; 2024 Acqualand | All Rights Reserved
  </div>
</footer>
