<div class="map-container">
  <div class="map-form">
    <h2>MAPPA DELLE ATTRAZIONI</h2>
    <button (click)="findNearbyAttractions()" class="find-button">Trova Attrazioni Vicine</button>

    <div *ngFor="let a of attrazioni" class="form-group">
      <h3>{{ a.nome }}</h3>
      <p>{{ a.description }}</p>
    </div>
  </div>
</div>
<div class="map-container"
     leaflet
     [leafletOptions]="options"
     (leafletMapReady)="onMapReady($event)"
     (leafletClick)="mapClicked($event)">
</div>
